{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Запис | {{ case.patient }}{% endblock %}

{% block main %}

    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Історія хвороби №{{ case.id }}</h4>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="card-text"><b>Пацієнт:</b> {{ patient.full_name }}</h5>
                                <p class="card-text" style="margin: 0;"><b>Поступив: </b>{{ case.start_date }}</p>
                                {% if case.end_date %}
                                    <p class="card-text" style="margin: 0;"><b>Закрито: </b>{{ case.end_date }}</p>
                                {% endif %}
                                <hr style="margin: 5px;">
                                <p class="card-text" style="margin: 0;"><b>Лікар:</b> {{ case.doctor }}</p>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="card-text"><b>Діагноз:</b>
                                    <span>
                                        {% if case.diagnose %}
                                            {{ case.diagnose }}
                                        {% else %}
                                            відсутній
                                        {% endif %}
                                    </span>
                                </h5>
                                <hr>
                                <p style="margin: 0;"><b> Супутні патології:</b> відсутні</p>
                            </div>
                        </div>
                        {% if case.comment %}
                            <hr>
                            <p class="card-text"><b>Коментар: </b>{{ case.comment }}</p>
                        {% endif %}
                        {#                        <p class="card-text">#}
                        {#                            <small class="text-muted">Last updated 3 mins ago</small>#}
                        {#                        </p>#}

                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center">
                                    <button class="btn btn-success" id="meds-show-btn">пошук ліків</button>
                                </p>
                            </div>
                            <div class="row" id="meds-table" style="display: none;">
                                <div class="col-sm-12">
                                    <div class="card" style="width: 100%">
                                        <table class="table table-striped active-cases-table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Назва</th>
                                                <th scope="col">Міжнародна назва</th>
                                                <th scope="col">Виробник</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for m in object_list %}
                                                <tr class="medicament-table-row" data-id="{{ m.id }}">
                                                    <td>{{ m.uk_name }}</td>
                                                    <td>{{ m.uni_name }}</td>
                                                    <td>{% for mnf in m.manufacturer.all %}
                                                        {{ mnf }};
                                                    {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {

            function initPage() {
                $('#meds-show-btn').click(function () {
                    var $mdt = $('#meds-table');
                    if ($mdt.is(":hidden")) {
                        $mdt.show();
                    } else {
                        $mdt.hide();
                    }
                });

                $(".medicament-table-row").dblclick(function () {
                    pID = $(this).data('id');
                    window.open('/medicament/' + pID, "_blank");
                });

            }

            initPage();
        })
    </script>
{% endblock %}